name: Main

on:
  push:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0

      - name: set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Unpack keystore
        run: echo "${{secrets.KEYSTORE}}" | base64 -d > keystore.jks

      - name: Build
        env:
          SIGN_KEY_PASSWORD: ${{ secrets.SIGN_KEY_PASSWORD }}
        run: ./gradlew build verifyPaparazziDebug

      - name: Upload to Play Store
        env:
          SIGN_KEY_PASSWORD: ${{ secrets.SIGN_KEY_PASSWORD }}
          ANDROID_PUBLISHER_CREDENTIALS: ${{ secrets.ANDROID_PUBLISHER_CREDENTIALS }}
        run: |
          ./gradlew publishBundle
          VERSION_NAME="$(git describe --match build --dirty)"
          echo "::notice title=Version::Published $VERSION_NAME"

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: '**/build/test-results/**/*.xml'

      - name: Upload screenshot deltas
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: screenshot-deltas
          path: './**/build/paparazzi/failures/delta-*.png'
          if-no-files-found: ignore
